<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
    <style>
        body {
            font-size: 30px;
        }
    </style>
</head>
<body>
<p th:text="'FullName of Person : ' + ${person.getFullname()}"></p>
<p id="date" th:text="'Datebirth person : ' + ${person.getDate_birth()}">date Book</p>
<a th:href="@{/people/{id}/edit(id = ${person.getId()})}">Edit this person</a>
<form th:method = "DELETE" th:action="@{/people/{id}(id = ${person.getId()})}">
  <input type="submit" value="Delete this person" />
</form>
</body>
</html>